
    .title{
        margin-top: 40px;
        font-weight: bold;
        font-size: 211%;
        text-align: center;
        color:$color_back;
    }


.content{
    display: flex;
    flex-wrap: wrap;
}
.cont{
    flex: 4 0 40%;
    margin: 20px;
    height: 253px;
    color:$color_back;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    text-align: center;
    
    
}