.recommandations{
    background-color: $color_back;
    padding-bottom: 5%;
    padding-top: 2%;
}
.titre{
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 211%;
    text-align: center;
    color:$color_white;
}

.soustitre{
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 120%;
    padding-left: 17rem;
    color:$color_white;
}


.recommand{
    display: flex;
    padding-left: 1.125rem;
    &__paragraph{
        color: $color_white;
        padding-left: 9rem;
        span{
            color: $color_yellow;
            font-weight: bold;
    
        }
        
    }
    &__partie{

            margin-left: 5rem;
            margin-top: -4%;
            
        .titr{
            color: $color_yellow;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0.563rem;
        }
        .but{
            background-color: $color_yellow; 
            border: none;
            color: $color_back;
            padding: 0.25rem ;
            border-radius: 5px;
            font-size: 1.5rem;
            display: block;
            font-weight: bold;
            width: 12rem;
            margin-bottom: 0.563rem;
            
            
          }
        
    }

}

@media (max-width:500px) {



    .recommandations{
      display: flex;
      flex-direction: column;
      
      
    }

   
    .recommand{

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;

     &__paragraph{
        padding-left: 1rem;

      }
      &__partie{
          margin-top: 9%;
          margin-left: -3%;

      }
  }
  .soustitre{
      padding-left: 2rem;
      padding-bottom: 7%;
  }

  }