@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%; }

body {
  font-family: 'Cairo', sans-serif; }

.nav {
  height: 50px;
  width: 100%;
  background-image: url(/Starter-file/app/image/bar-17.png);
  position: relative; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #308ab7;
  padding: 10px 10px 10px 112px; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 12%; }

.logo {
  position: absolute;
  width: 2%;
  right: 1%;
  margin-top: 1.5%;
  margin-right: 6%; }

.nav > .nav-links > a {
  display: inline-block;
  padding: 14px 1px 13px 27px;
  text-decoration: none;
  color: black; }

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

.infos {
  background-color: #f4cf1b;
  padding: 2%; }

.infos__titre {
  font-size: 25px;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  color: #1087c7; }

.text {
  text-align: center;
  margin-bottom: 0em; }

.expose {
  display: flex;
  padding: 3%; }

.expose__info .paragraphe {
  text-align: center;
  font-weight: bold;
  color: #1087c7;
  font-size: 20px; }

.expose__info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.18rem; }

.expose__info .Ligne {
  text-align: center;
  margin-bottom: 0em;
  font-weight: bold;
  color: #87837f;
  font-size: 20px; }

.expose__info .btn {
  width: 650px;
  background-image: url(../image/bar-17.png);
  background-position: center;
  padding: 15px;
  margin-top: 3%;
  border: 2px solid #1087c7;
  border-radius: 12px;
  color: #1087c7;
  font-size: 20px;
  font-weight: bold; }
  .expose__info .btn:hover:not(.active) {
    background-color: #1087c7;
    color: white; }

.expose__image img {
  width: 100%;
  height: auto; }

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3); }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-image: url(/Starter-file/app/image/bar-17.png);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding-left: 223px;
    margin-top: 12%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; }
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 16px;
    margin-left: 1%; }
  .logo {
    position: absolute;
    width: 5%;
    right: 1%;
    margin-top: 4%;
    margin-right: 12%; } }

@media (max-width: 500px) {
  .expose {
    display: flex;
    flex-direction: column-reverse; }
  .expose__info {
    display: flex;
    width: 55%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto; } }

.title {
  margin-top: 40px;
  font-weight: bold;
  font-size: 211%;
  text-align: center;
  color: #1078ad; }

.content {
  display: flex;
  flex-wrap: wrap; }

.cont {
  flex: 4 0 40%;
  margin: 20px;
  height: 253px;
  color: #1078ad;
  display: flex;
  align-items: center;
  justify-content: center; }

.para {
  text-align: center; }

.recommandations {
  background-color: #1078ad;
  padding-bottom: 5%;
  padding-top: 2%; }

.titre {
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 211%;
  text-align: center;
  color: white; }

.soustitre {
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 120%;
  padding-left: 17rem;
  color: white; }

.recommand {
  display: flex;
  padding-left: 1.125rem; }
  .recommand__paragraph {
    color: white;
    padding-left: 9rem; }
    .recommand__paragraph span {
      color: #f4cf1b;
      font-weight: bold; }
  .recommand__partie {
    margin-left: 5rem;
    margin-top: -4%; }
    .recommand__partie .titr {
      color: #f4cf1b;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.563rem; }
    .recommand__partie .but {
      background-color: #f4cf1b;
      border: none;
      color: #1078ad;
      padding: 0.25rem;
      border-radius: 5px;
      font-size: 1.5rem;
      display: block;
      font-weight: bold;
      width: 12rem;
      margin-bottom: 0.563rem; }

@media (max-width: 500px) {
  .recommandations {
    display: flex;
    flex-direction: column; }
  .recommand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
    .recommand__paragraph {
      padding-left: 1rem; }
    .recommand__partie {
      margin-top: 9%;
      margin-left: -3%; }
  .soustitre {
    padding-left: 2rem;
    padding-bottom: 7%; } }

.texte {
  background-color: #96c5dc;
  padding: 2%; }

.txt {
  font-weight: bold;
  font-size: 162%;
  text-align: center;
  color: #1078ad;
  margin-bottom: 2%; }

.imag {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.btxt {
  width: 650px;
  background-image: url(../image/bar-17.png);
  background-position: center;
  padding: 15px;
  margin-top: 3%;
  border: 2px solid #1087c7;
  border-radius: 12px;
  color: #1087c7;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .btxt:hover:not(.active) {
    background-color: #1087c7;
    color: white; }

.footer {
  padding: 1rem; }

.log {
  text-align: center;
  font-size: 2rem;
  color: #1087c7; }

.contact {
  color: #1078ad;
  font-size: 134%;
  padding-bottom: 2%; }

.foot {
  display: flex;
  padding-left: 5rem; }
  .foot__contact {
    padding-left: 4rem;
    margin-top: 2rem;
    text-align: center; }
    .foot__contact .tex {
      font-size: 100%;
      font-weight: bold; }
    .foot__contact .num {
      color: #369d53;
      font-weight: bold;
      font-size: 131%; }
  .foot__accon {
    margin-left: -3rem;
    margin-top: 9rem; }
    .foot__accon .acc {
      display: block;
      margin-left: 20.5rem;
      text-decoration: none;
      border-bottom: 0.1em solid #96c5dc;
      width: 15.5em;
      text-align: center;
      font-size: 108%; }
    .foot__accon .acc1 {
      font-weight: bold;
      color: #1087c7; }

.capback {
  background-color: #1078ad;
  width: 100%;
  height: 40px; }

@media (max-width: 500px) {
  .foot {
    display: flex;
    justify-content: space-between;
    padding-left: 0rem;
    font-size: 91%; }
  .foot__contact {
    padding-left: 0rem;
    margin-top: 3rem;
    text-align: center; }
  .foot__accon {
    margin-left: 1rem;
    margin-top: 8rem;
    font-size: 147%; }
  .foot__accon .acc {
    display: block;
    margin-left: 1.5rem;
    text-decoration: none;
    border-bottom: 0.1em solid #96c5dc;
    width: 3.5em;
    font-size: 98%; } }

.ptitle {
  margin-top: 40px;
  font-weight: bold;
  font-size: 211%;
  text-align: center;
  color: #1078ad; }

.protec {
  display: flex;
  flex-wrap: wrap; }

.pro {
  flex: 4 0 22%;
  margin: 20px;
  height: 253px;
  color: #1078ad;
  display: flex;
  align-items: center;
  justify-content: center; }

.parag {
  text-align: center;
  font-weight: bold; }

.restez {
  text-align: center;
  margin-top: 6%;
  padding-bottom: 9%; }
  .restez__chez {
    width: 8%; }
  .restez__vous {
    font-weight: bold;
    font-size: 165%;
    color: #1078ad; }

.information {
  padding: 3%;
  background-color: #b1d2e3; }

.tit {
  margin-top: 2px;
  font-weight: bold;
  font-size: 236%;
  text-align: center;
  color: #1078ad; }

.infopara {
  text-align: center;
  color: #1a519e;
  font-size: 125%; }

.infobut {
  width: 273px;
  background-color: #1078ad;
  padding: 14px;
  margin-top: 3%;
  margin-left: 39%;
  border: 2px solid #308ab7;
  border-radius: 4px;
  color: white;
  font-size: 20px; }

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.04588); }
  .card-header {
    padding: 60px; }
    .card-header .steps {
      display: flex;
      column-count: 3;
      justify-content: center;
      align-items: center; }
      .card-header .steps .step {
        width: 100%;
        text-align: center;
        line-height: 0.1em;
        margin: 10px 0 20px; }
        .card-header .steps .step span {
          padding: 7px 9px;
          border-radius: 20px;
          height: 30px;
          width: 30px;
          background-color: #1a519e;
          border-radius: 50%;
          display: inline-block; }
      .card-header .steps .step.active span {
        background-color: #f4cf1b;
        border: 10px solid #88b7d3;
        padding: 15px; }
  .card .card-header .steps .text.ac {
    margin-top: 0.75em; }
  .card .card-header .steps .text {
    color: #1078ad;
    font-weight: bold;
    margin-top: 1.5em; }
  .card #card-body {
    padding: 16px;
    min-height: 250px;
    display: flex;
    justify-items: center;
    align-items: center; }
  .card .card-body .tabs {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center; }
  .card .card-body #first {
    padding: 4em;
    background-color: #e9ecef; }
    .card .card-body #first h5 {
      text-align: center;
      color: #1078ad;
      font-weight: bold;
      padding-bottom: 1em; }
  .card-body {
    padding: 16px;
    min-height: 250px;
    display: flex;
    justify-items: center;
    align-items: center; }
    .card-body .tabs {
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center; }
      .card-body .tabs .tab {
        display: none; }
      .card-body .tabs .tab.active {
        display: block !important; }
  .card-footer {
    padding: 16px;
    border-top: 1px solid  #d5d0d0; }
    .card-footer button {
      width: 210px;
      background-image: url(../image/bar-17.png);
      background-position: center;
      padding: 15px;
      margin-top: 3%;
      border: 2px solid #1087c7;
      border-radius: 12px;
      color: #1087c7;
      font-size: 20px;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      .card-footer button:hover:not(.active) {
        background-color: #1087c7;
        color: white; }

@media only screen and (max-width: 420px) {
  .card-footer button {
    width: 100%; } }

.container .mm-survey {
  width: 60em; }

.container .mm-survey-container {
  border: 1px solid #1078ad;
  background: #fafafa;
  padding: 3em; }

.container .mm-survey-page {
  display: none;
  font-family: 'Raleway';
  font-weight: 100;
  padding: 40px; }

.container .mm-survey-page.active {
  display: block; }

.container .mm-survey-controller {
  position: relative;
  height: 60px;
  padding: 12px 14px; }

.container .mm-back-btn button {
  width: 650px;
  background-image: url(../image/bar-17.png);
  background-position: center;
  padding: 15px;
  margin-top: 3%;
  border: 2px solid #1087c7;
  border-radius: 12px;
  color: #1087c7;
  font-size: 20px;
  font-weight: bold;
  width: 10em;
  padding: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .container .mm-back-btn button:hover:not(.active) {
    background-color: #1087c7;
    color: white; }
  .container .mm-back-btn button:active {
    outline: none;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px; }

.container .mm-prev-btn {
  display: inline-block;
  position: relative;
  float: left; }

.container .mm-next-btn {
  display: inline-block;
  opacity: 0.25;
  position: relative;
  float: right; }

.container .mm-finish-btn {
  display: none;
  position: relative;
  float: right; }

.container .mm-survey-controller button {
  background-color: #b1d2e3;
  padding: 0.25em;
  margin-top: 3%;
  border: 2px solid #1087c7;
  color: #1087c7;
  font-size: 20px;
  width: 100%;
  border-radius: 5px; }
  .container .mm-survey-controller button:hover {
    background-color: #1087c7;
    color: white; }

.container .mm-survey-progress {
  width: 100%;
  height: 10px;
  background: #96c5dc;
  overflow: hidden;
  border-radius: 12px; }

.container .mm-progress {
  transition: width 0.5s ease-in-out; }

.container .mm-survey-progress-bar {
  height: 10px;
  width: 0%;
  background: #1078ad; }

.container .mm-survey-q {
  list-style-type: none;
  padding: 0px; }

.container .mm-survey-q li {
  display: block;
  /*padding: 20px 0px;*/
  margin-bottom: 10px;
  width: 100%;
  background: #fff; }

.container .mm-survey-q li input {
  width: 100%; }

.container .mm-survery-content label:hover {
  cursor: pointer; }

.container .mm-survey-question {
  min-height: 100px;
  color: #87837f;
  font-weight: bold;
  font-size: 1em; }
  .container .mm-survey-question p {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1em; }

.container .mm-survery-content label p {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 5px;
  margin: 0px; }

.container .mm-survey-item {
  margin-bottom: 15px;
  border-radius: 0px 0px 4px 4px; }

.container .mm-prev-btn button:focus,
.container .mm-next-btn button:focus,
.container .mm-finish-btn button:focus {
  outline: none;
  border: none; }

.container .mm-survey.okay .mm-next-btn {
  display: inline-block;
  opacity: 1; }

.container .mm-finish-btn.active {
  display: inline-block; }

.container .mm-item-info {
  float: right; }

.container input[type=radio] {
  display: none; }

.container input[type=radio] + label {
  display: block;
  border: 3px solid #308ab7;
  padding: 1em 2em 1em;
  margin-right: 1em;
  text-align: center;
  color: #308ab7;
  font-weight: bold;
  font-size: 1em;
  width: 7em;
  border-radius: 6px; }

.container input[type=radio]:checked + label {
  background-color: #308ab7;
  color: #f4cf1b; }

.container .fx {
  display: flex;
  justify-content: center; }

.container .lab {
  border: 0.5px solid #1078ad;
  margin-left: -0.25em;
  font-size: 1em;
  padding: 0.22em;
  border-left: none;
  width: 4em;
  text-align: center;
  color: #87837f;
  background-color: #308ab7; }

.container .degre {
  width: 35em;
  padding: 0.22em;
  border: 0.5px solid #1078ad; }

.container .imoji {
  font-size: 2em; }

.container .progre {
  border: 1px solid #1078ad;
  padding: 1em;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  background: #fafafa; }
  .container .progre #questCount {
    font-weight: bold; }

.container .design {
  padding: 4em;
  background-color: #1078ad; }
  .container .design h5 {
    text-align: center;
    color: #308ab7;
    font-weight: bold;
    padding-bottom: 1em; }
  .container .design p {
    text-align: center; }

@keyframes next {
  0% {
    opacity: 0;
    transform: translateX(90%); }
  15% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }

@keyframes previous {
  0% {
    opacity: 0;
    transform: translateX(-90%); }
  15% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
