@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%; }

body {
  font-family: 'Cairo', sans-serif; }

.hero__nav {
  width: inherit;
  height: 5.75rem;
  background-image: url(/Starter-file/app/image/bar-17.png); }

ul.main__nav {
  float: right;
  list-style-type: none;
  display: flex;
  margin-top: 2rem;
  padding-right: 10rem; }

.main__nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none; }
  .main__nav li a li a:hover:not(.active) {
    background-color: #1087c7;
    color: white; }

.nav-cons {
  font-weight: bold;
  color: #308ab7; }

.nav-logo {
  position: absolute;
  width: 2%;
  right: 1%;
  margin-top: 3%;
  margin-right: 90%; }

#logo {
  position: absolute;
  width: 2%;
  right: 1%;
  margin-top: 3%;
  margin-right: 7%; }

.infos {
  background-color: #f4cf1b;
  padding: 2%; }

.infos__titre {
  font-size: 25px;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  color: #1087c7; }

.text {
  text-align: center;
  margin-bottom: 0em; }

.expose {
  display: flex;
  padding: 3%; }

.expose__info .paragraphe {
  text-align: center;
  font-weight: bold;
  color: #1087c7;
  font-size: 20px; }

.expose__info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.18rem; }

.expose__info .Ligne {
  text-align: center;
  margin-bottom: 0em;
  font-weight: bold;
  color: #87837f;
  font-size: 20px; }

.expose__info button {
  width: 650px;
  background-image: url(../image/bar-17.png);
  background-position: center;
  padding: 15px;
  margin-top: 3%;
  border: 2px solid #1087c7;
  border-radius: 12px;
  color: #1087c7;
  font-size: 20px;
  font-weight: bold; }
  .expose__info button:hover:not(.active) {
    background-color: #1087c7;
    color: white; }

.expose__image img {
  width: 100%;
  height: auto; }

@media screen and (max-width: 900px) {
  ul.main__nav {
    width: 100%;
    height: auto;
    position: relative; }
  ul.main__nav li a {
    float: left;
    padding: 15px; } }

@media screen and (max-width: 400px) {
  ul.main__nav li a {
    text-align: center;
    float: none; } }

h1 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 211%;
  text-align: center;
  color: #1078ad; }

.content {
  display: flex;
  flex-wrap: wrap; }

.cont {
  flex: 4 0 40%;
  margin: 20px;
  height: 253px;
  color: #1078ad;
  display: flex;
  align-items: center;
  justify-content: center; }

p {
  text-align: center; }
